<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
    <p<%= flash[:alert] %></p>
<% end %>

<% if user_signed_in? %>
    Yay, you're logged in.
    <br />
    <%= current_user.name_first %> <%= current_user.name_last %> (<%= current_user.rating %>)
    <br />
    <%= link_to 'Logout', users_sign_out_path, method: :delete %>
<% else %>
    <%= link_to 'Login with VATSIM', user_vatsim_omniauth_authorize_path %>
<% end %>
