New feedback.

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
<% end %>

<%= form_for(:feedback, url: feedback_index_path) do |f| %>
    Submitter: <%= current_user.name_first %>
               <%= current_user.name_last %>
               (<%= current_user.cid %>)
    <br />
    Email: <%= current_user.email %>
    <br />
    Flight Callsign: <%= f.text_field :callsign %> <br/>
    <% @controllers = @controllers.collect{|a| [ a.name_full, a.name_full ]} %>
    <% @controllers.unshift ['Unknown (Not specified)', 'Unknown'] %>
    Controller: <%= f.select :controller, @controllers %>
    <br />
    <% @positions = @positions.collect{|p| ["#{p.callsign} (#{'%.3f' % p.frequency})", p.callsign]} %>
    <% @positions.unshift ['Unknown (Not specified)', 'Unknown'] %>
    Position: <%= f.select :position, @positions %>
    <br/>
    <% service_levels = [['Excellent', 5], ['Good', 4], ['Fair', 3], ['Poor', 2], ['Unsatisfactory', 1]] %>
    Rate level of service: <%= f.select :service_level, service_levels %>
    <br/>
    Would you fly again? <%= f.select :fly_again, [['Yes', true], ['No', false]] %>
    <br/>
    Comments: <%= f.text_area :comments %>
    <br/>
    <%= f.submit 'Send Feadback' %>
<% end %>