<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= Artccmgr::Application::ORG_NAME %> - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Masthead -->
    <div class="d-none d-sm-block header-image">
      <div class="masthead">
        <h1 class="align-middle display-4"><%= Artccmgr::Application::ORG_NAME %></h1>
        <p class="lead">
          <%= Artccmgr::Application::TAG_LINE %>
        </p>
      </div>
    </div>
    <!-- End Masthead -->

    <!-- Navigation -->
    <%= render 'shared/navbar' %>
    <!-- End Navigation -->

    <!-- Body -->
    <div class="container">

      <% flash.each do |type, contents| %>
      <!-- Alerts -->
      <div class="row top-buffer">
        <div class="col-lg-12">
          <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= contents %>
          </div>
        </div>
      </div>
      <!-- End Alerts -->
      <% end %>

      <div class="row top-buffer">
        <div class="col-lg-3 order-2 order-lg-3">
          <%= render 'shared/sidebar' %>
        </div>

        <div class="col-lg-9 order-1 order-lg-9">
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted text-small">
          <%= Artccmgr::Application::ORG_NAME %> is a subsidiary of VATSIM. For flight simulation purposes only.
        </span>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
